<!-- <%= nav_bar brand: "GeekStore", brand_link: "/produtos" %> -->
<% if notice %>
  <div id="notice" class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
  </div>
<% end %>

<table class ="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <!-- <th>Quantidade</th> -->
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>

      <%= render partial: "produto", collection: @produtos_por_nome %>

  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <h2><font color="green"> Melhores Ofertas </font></h2>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>

      <%= render @produtos_por_preco %>

  </tbody>
</table>

<%= link_to "Cadastrar Produto", new_produto_path %>
